<div>
  <span class="px-3 py-1 bg-blue-950 rounded-md tracking-[.25em] text-base"> SKILLS</span>
</div>
<div class="solar-system">
  <div class="sun"></div>
  <div class="orbit orbit-1">
    <div class="planet mysql">
      <img  src="assets/images/mysql-logo.webp" alt="">
    </div>
    <div class="planet postgresql">
      <img src="assets/images/postgresql-logo.webp" alt="">
    </div>
    <div class="planet sqlserver">
      <img src="assets/images/sql-server-logo.webp" alt="">
    </div>
  </div>
  <div class="orbit orbit-2">
    <div class="planet spring">
      <img  src="assets/images/spring-logo.webp" alt="">
    </div>
    <div class="planet java">
      <img src="assets/images/java-logo.webp" alt="">
    </div>
    <div class="planet quarkus">
      <img src="assets/images/quarkus-logo.webp" alt="">
    </div>
  </div>

  <div class="orbit orbit-3">
    <div class="planet golang">
      <img src="assets/images/golang-logo.webp" alt="">
    </div>
    <div class="planet gin">
      <img src="assets/images/gin-logo.webp" alt="">
    </div>
  </div>

  <div class="orbit orbit-4">
    <div class="planet ts">
      <img src="assets/images/ts-logo.webp" alt="">
    </div>
    <div class="planet angular">
      <img src="assets/images/angular-logo.webp" alt="">
    </div>
    <div class="planet js">
      <img src="assets/images/js-logo.webp" alt="">
    </div>
    <div class="planet flutter">
      <img src="assets/images/flutter-logo.webp" alt="">
    </div>


  </div>

</div>
